GCC/Service References/ActiveDirectoryGroupUsers/UsersServiceAD.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ActiveDirectoryGroupUsers.Modelos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ActiveDirectoryGroupUsers.Modelos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGroupUsers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupUsers" nillable="true" type="tns:GroupUsers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupUsers" nillable="true" type="tns:ArrayOfGroupUsers" />
  <xs:complexType name="GroupUsers">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupNameDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsersList" nillable="true" type="tns:ArrayOfUsers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupUsers" nillable="true" type="tns:GroupUsers" />
  <xs:complexType name="ArrayOfUsers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Users" nillable="true" type="tns:Users" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsers" nillable="true" type="tns:ArrayOfUsers" />
  <xs:complexType name="Users">
    <xs:sequence>
      <xs:element minOccurs="0" name="CentroCusto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Empresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutroContacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnidadeOrganica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnidadeOrganicaDescricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Xnuc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XnucApelido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XnucName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Users" nillable="true" type="tns:Users" />
  <xs:complexType name="ErrorMessages">
    <xs:sequence>
      <xs:element minOccurs="0" name="DetalheMensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Messagem" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorMessages" nillable="true" type="tns:ErrorMessages" />
</xs:schema>