GCC/Service References/ActiveDirectoryGroupUsers/UsersServiceAD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsersServiceAD" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://semzseiqld11/ActiveDirectoryGroupUsers/Servico/UsersServiceAD.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://semzseiqld11/ActiveDirectoryGroupUsers/Servico/UsersServiceAD.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ActiveDirectoryGroupUsers.Modelos" />
      <xsd:import schemaLocation="http://semzseiqld11/ActiveDirectoryGroupUsers/Servico/UsersServiceAD.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://semzseiqld11/ActiveDirectoryGroupUsers/Servico/UsersServiceAD.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsersServiceAD_GetUsersListAD_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersListAD" />
  </wsdl:message>
  <wsdl:message name="IUsersServiceAD_GetUsersListAD_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersListADResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersServiceAD_GetUsersListAD_ErrorMessagesFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ActiveDirectoryGroupUsers.Modelos" name="detail" element="q1:ErrorMessages" />
  </wsdl:message>
  <wsdl:message name="IUsersServiceAD_GetUsersByGroupName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersByGroupName" />
  </wsdl:message>
  <wsdl:message name="IUsersServiceAD_GetUsersByGroupName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersByGroupNameResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersServiceAD_GetUsersByGroupName_ErrorMessagesFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/ActiveDirectoryGroupUsers.Modelos" name="detail" element="q2:ErrorMessages" />
  </wsdl:message>
  <wsdl:message name="IUsersServiceAD_GetUsersGroupMembers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersGroupMembers" />
  </wsdl:message>
  <wsdl:message name="IUsersServiceAD_GetUsersGroupMembers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersGroupMembersResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersServiceAD_GetUsersGroupMembers_ErrorMessagesFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/ActiveDirectoryGroupUsers.Modelos" name="detail" element="q3:ErrorMessages" />
  </wsdl:message>
  <wsdl:message name="IUsersServiceAD_GetUserByXnuc_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByXnuc" />
  </wsdl:message>
  <wsdl:message name="IUsersServiceAD_GetUserByXnuc_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByXnucResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersServiceAD_GetUserByXnuc_ErrorMessagesFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/ActiveDirectoryGroupUsers.Modelos" name="detail" element="q4:ErrorMessages" />
  </wsdl:message>
  <wsdl:portType name="IUsersServiceAD">
    <wsdl:operation name="GetUsersListAD">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersServiceAD/GetUsersListAD" message="tns:IUsersServiceAD_GetUsersListAD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersServiceAD/GetUsersListADResponse" message="tns:IUsersServiceAD_GetUsersListAD_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsersServiceAD/GetUsersListADErrorMessagesFault" name="ErrorMessagesFault" message="tns:IUsersServiceAD_GetUsersListAD_ErrorMessagesFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersByGroupName">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersServiceAD/GetUsersByGroupName" message="tns:IUsersServiceAD_GetUsersByGroupName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersServiceAD/GetUsersByGroupNameResponse" message="tns:IUsersServiceAD_GetUsersByGroupName_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsersServiceAD/GetUsersByGroupNameErrorMessagesFault" name="ErrorMessagesFault" message="tns:IUsersServiceAD_GetUsersByGroupName_ErrorMessagesFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersGroupMembers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersServiceAD/GetUsersGroupMembers" message="tns:IUsersServiceAD_GetUsersGroupMembers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersServiceAD/GetUsersGroupMembersResponse" message="tns:IUsersServiceAD_GetUsersGroupMembers_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsersServiceAD/GetUsersGroupMembersErrorMessagesFault" name="ErrorMessagesFault" message="tns:IUsersServiceAD_GetUsersGroupMembers_ErrorMessagesFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByXnuc">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersServiceAD/GetUserByXnuc" message="tns:IUsersServiceAD_GetUserByXnuc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersServiceAD/GetUserByXnucResponse" message="tns:IUsersServiceAD_GetUserByXnuc_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsersServiceAD/GetUserByXnucErrorMessagesFault" name="ErrorMessagesFault" message="tns:IUsersServiceAD_GetUserByXnuc_ErrorMessagesFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsersServiceAD" type="tns:IUsersServiceAD">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsersListAD">
      <soap:operation soapAction="http://tempuri.org/IUsersServiceAD/GetUsersListAD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessagesFault">
        <soap:fault use="literal" name="ErrorMessagesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUsersByGroupName">
      <soap:operation soapAction="http://tempuri.org/IUsersServiceAD/GetUsersByGroupName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessagesFault">
        <soap:fault use="literal" name="ErrorMessagesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUsersGroupMembers">
      <soap:operation soapAction="http://tempuri.org/IUsersServiceAD/GetUsersGroupMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessagesFault">
        <soap:fault use="literal" name="ErrorMessagesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserByXnuc">
      <soap:operation soapAction="http://tempuri.org/IUsersServiceAD/GetUserByXnuc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessagesFault">
        <soap:fault use="literal" name="ErrorMessagesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsersServiceAD">
    <wsdl:port name="BasicHttpBinding_IUsersServiceAD" binding="tns:BasicHttpBinding_IUsersServiceAD">
      <soap:address location="http://semzseiqld11/ActiveDirectoryGroupUsers/Servico/UsersServiceAD.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>