GCC/Service References/CatalogoProduto/WSCatalogoProdutos3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://semzseiqld13/WSCatalogoProdutos/WSCatalogoProdutos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WSCatalogoProdutos.BLL.Models" />
  <xs:element name="GetProdutobyID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProdutoID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProdutobyIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WSCatalogoProdutos.BLL.Models" minOccurs="0" name="GetProdutobyIDResult" nillable="true" type="q1:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProdutobyCod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProdutoCod" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProdutobyCodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WSCatalogoProdutos.BLL.Models" minOccurs="0" name="GetProdutobyCodResult" nillable="true" type="q2:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WSCatalogoProdutos.BLL.Models" minOccurs="0" name="GetProductListResult" nillable="true" type="q3:ArrayOfProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WSCatalogoProdutos.BLL.Models" minOccurs="0" name="GetAllProductListResult" nillable="true" type="q4:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductListbyID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProdutoID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductListbyIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WSCatalogoProdutos.BLL.Models" minOccurs="0" name="GetProductListbyIDResult" nillable="true" type="q5:ArrayOfProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductListbyCod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProdutoCod" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductListbyCodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WSCatalogoProdutos.BLL.Models" minOccurs="0" name="GetProductListbyCodResult" nillable="true" type="q6:ArrayOfProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductListbyLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="level" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductListbyLevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WSCatalogoProdutos.BLL.Models" minOccurs="0" name="GetProductListbyLevelResult" nillable="true" type="q7:ArrayOfProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFichaProdutoFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProdutoID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFichaProdutoFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WSCatalogoProdutos.BLL.Models" minOccurs="0" name="GetFichaProdutoFilesResult" nillable="true" type="q8:ArrayOfProdutoFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFichaProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProdutoID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFichaProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WSCatalogoProdutos.BLL.Models" minOccurs="0" name="GetFichaProdutoResult" nillable="true" type="q9:FichaProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>